---
layout: default
---
{%- assign show_nav = true -%}{%- if page.slideshow_nav == false -%}{%- assign show_nav = false -%}{%- endif -%}
{%- assign text = content | strip -%}
{%- if page.images.size > 0 or text != "" -%}
<div id='img-container'>

{%- assign folder = page.collection | append: "/" | append: page.slug %}
{%- if page.collection == "projects" or page.collection == "exhibitions" -%}{%- assign box = 567 -%}{%- else -%}{%- assign box = nil -%}{%- endif %}
{% include slideshow.html folder=folder nav=show_nav box=box %}
<div id='textspace' class='placement-bottom'>
{% if page.collection == "projects" or page.collection == "exhibitions" %}{% include item-text.html %}{% else %}{{ content }}{% endif %}</div>
</div>
{%- endif -%}
